* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
button {
  text-decoration: none;
}

a {
  cursor: pointer;
  text-decoration: underline;
}

body {
  font-family: "Red Hat Display", sans-serif;
}

/*mobile version*/

.page {
  width: 375px;
  height: 709px;
  padding: 71px 24px;
  background-color: #e0e8ff;
}

.main {
  height: 567px;
  width: 327px;
  background-color: #ffffff;
  box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.151826);
  border-radius: 20px;
}

.intro {
  margin: 0 32px 24px;
}

.listening__music {
  display: block;
  height: 160px;
  width: 327px;
  border-radius: 20px 20px 0 0;
}

.container {
  padding: 32px 0;
}
.container h1 {
  font-family: Red Hat Display;
  font-size: 22px;
  font-style: normal;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 16px;
}

.container p {
  font-family: Red Hat Display;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  line-height: 167%;
  text-align: center;
  color: #717fa6;
}

.payment {
  padding: 17px 16px 16px;
  margin: 0 24px 24px 24px;
  background-color: #f7f9ff;
  border-radius: 11px;
}

.payment::after {
  content: "";
  display: block;
  clear: left;
}
.payment img,
a {
  float: left;
}

.payment img {
  display: block;
  width: 48px;
  height: 48px;
  margin-right: 20px;
}

.annual_plan {
  float: left;
  width: 81px;
  height: 40px;
  margin: 4px 50px 4px 0;
}

.annual_plan h3 {
  font-weight: 900;
  font-size: 14px;
  line-height: 19px;
  color: #1f2e55;
}

.annual_plan p {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #717fa6;
}

.change {
  font-weight: bold;
  font-size: 13px;
  line-height: 17px;
  text-decoration-line: underline;
  color: #382ae1;
  margin: 16px 0 15px;
}

.change:hover {
  color: #766cf1;
}

.btn {
  margin: 0 24px;
}

button {
  display: block;
  border: 0;
  outline: 0;
  font-weight: 900;
  font-size: 15px;
  line-height: 20px;
}

.btn__proceed {
  height: 50px;
  width: 279px;
  color: #ffffff;
  background-color: #382ae1;
  box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
  border-radius: 11px;
  margin-bottom: 24px;
}

.btn__proceed:hover {
  background-color: #766cf1;
  box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
}

.btn__cancel {
  color: #717fa6;
  background-color: inherit;
  margin: 0 auto;
}

.btn__cancel:hover {
  color: #1f2e55;
}

.btn__cancel,
.btn__proceed {
  cursor: pointer;
}

/* desktop version*/

@media screen and (min-width: 376px) {
  .page {
    width: 1440px;
    height: 900px;
  }

  .main {
    width: 450px;
    height: 697px;
    left: 496px;
    top: 102px;
  }

  .intro {
  }

  .listening__music {
    width: 450px;
    height: 220px;
  }

  .container {
    padding: 45px 48px 60px;
  }

  .container h1 {
    font-size: 37px;
    line-height: 37px;
    margin-bottom: 17px;
  }

  .container p {
    font-size: 16px;
    line-height: 26px;
  }

  .intro {
    margin: 0 0 20px;
  }

  .payment {
    width: 354px;
    height: 98px;
    padding: 25px 24px;
    margin: 0 0 20px;
  }

  .payment img {
    margin-right: 20px;
  }

  .annual_plan {
    margin-right: 94px;
  }

  .change {
    font-size: 14px;
  }

  .btn {
    margin: 0;
  }
  .btn__proceed {
    width: 354px;
    height: 50px;
    margin-bottom: 32px;
  }
}
